<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='css/editor/normalize.css'>
    <link rel='stylesheet' href='css/editor/style.css'>
    <link rel='stylesheet' href='css/editor/canvas.css'>
    <link rel='stylesheet' href='css/editor/font.css'>
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <script src="js/editor/_polyfill.js"></script>
    <script src="js/editor/_fastclick.js"></script>
    <script src="js/editor/_store.js"></script>
    <script src="js/editor/_jquery.js"></script>
    <script src="js/editor/_eventemitter.js"></script>
    <script src="js/editor/_lodash.js"></script>
    <script src="js/editor/_buzz.js"></script>
    <script src="js/editor/_async.js"></script>
    <script src="js/editor/_socketiop2p.min.js"></script>
    <script src="js/editor/connect.js"></script>
    <script src="js/editor/game.js"></script>
    <script src="js/editor/renderTools.js"></script>
    <script src="js/editor/gameTools.js"></script>
    <script src="js/editor/console.js"></script>
  </body>
</html>
