<!DOCTYPE html>
<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png" />

    <title><%=title%></title>
    <link rel='stylesheet' href='css/normalize.css'>
    <link rel='stylesheet' href='css/style.css'>
    <link rel='stylesheet' href='css/canvas.css'>
    <link rel='stylesheet' href='css/font.css'>
    <script id="script"></script>
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <h1 id="landscape">Switch to Landscape you SCRUB</h1>
    <script src="js/_polyfill.js"></script>
    <script src="js/_fastclick.js"></script>
    <script src="js/_store.js"></script>
    <script src="js/_jquery.js"></script>
    <script src="js/_eventemitter.js"></script>
    <script src="js/_lodash.js"></script>
    <script src="js/_buzz.js"></script>
    <script src="js/_async.js"></script>
    <script src="js/_socketiop2p.min.js"></script>
    <script src="js/connect.js"></script>
    <script src="js/game.js"></script>
    <script src="js/renderTools.js"></script>
    <script src="js/gameTools.js"></script>
    <script src="js/console.js"></script>
  </body>
</html>
